@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: none;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

body {
    padding-bottom: 50px;
    height: 100vh;

}

header {
    background-color: grey;
    color: black;
    padding: 1%;
    box-shadow: 0px 2px 8px 0px #000;
}

header h2 {
    font-size: 150%;
    color: black;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    padding: 5px;
}

header nav ul li {
    padding-left: 10px;
}

header nav ul a {
    color: #000;
}

/*------------------------------------------------------------------*/

/*-----------------------------SECTION------------------------------*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 80%;
    background-color: #f0f0f0;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    box-shadow: 0px 2px 7px 0px gray;
    padding: 2%;
}

.box:hover {
    box-shadow: 0px 3px 9px 0px rgb(59, 59, 59);
}

.box-cards {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 350px;
    border-radius: 50px;
    background-color: #f0f0f0;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 7px 0px gray;
}

.img-container {
    width: 100%;
    height: 300px;
    /* Ajuste conforme o necessário */
    overflow: hidden;
    border-radius: 50px;
}

.img-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h4,
.card p {
    margin-top: 10px;
    color: black;
}

/*------------------------------------------------------------------*/

footer {
    background-color: grey;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 1%;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 80%;
    box-shadow: 0px 2px 8px 0px #000;
    margin-top: 5%;
}

.alert {
    padding: 15px;
    background-color: #4CAF50;
    /* Verde para sucesso */
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

p {
    transition: all 0.3s ease-in-out;
}

.hamburger {
    display: none;
}



@media (max-width: 750px) {

    /* Exibir os cards em coluna */
    .box-cards {
        flex-direction: column;
        /* Muda a direção para coluna */
        align-items: center;
        /* Alinha os itens ao centro */
    }

    .card {
        width: 90%;
        /* Aumenta a largura do card para se ajustar à tela */
        margin: 10px 0;
        /* Margem vertical para espaçamento entre os cards */
    }

    header nav ul {
        display: none;
        /* Esconde o menu de navegação em telas menores */
        flex-direction: column;
        /* Organiza o menu verticalmente */
        background-color: grey;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .hamburger {
        display: block;
        /* Exibe o ícone de hambúrguer em telas menores */
        cursor: pointer;
        font-size: 30px;
    }

    header nav ul.show {
        display: flex;
        /* Mostra o menu quando o hambúrguer é clicado */
    }

    footer {
        background-color: grey;
        bottom: 0;
        left: 0;
        position: relative;
        /* Altera de fixed para relative */
        width: 100%;
        padding: 1%;
        color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 80%;
        box-shadow: 0px 2px 8px 0px #000;
        margin-top: 5%;
        margin-top: auto;
        /* Garante que o footer fique ao final do conteúdo */
    }
}

