<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apuração de Votos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/apuracao.css') }}">
</head>

<body>
    <div class="container">
        <h1>Apuração Final</h1>
        <div id="resultados">
            <p>Opção 1: {{ resultados['opcao1'] }}</p>
            <p>Opção 2: {{ resultados['opcao2'] }}</p>
            <p>Opção 3: {{ resultados['opcao3'] }}</p>
        </div>
    </div>
</body>

</html>